h2{
    font-size: large;
    text-align: left;
   
}


h1{
    margin-top: 10px;
    
 }
 p{
    text-align: left;
    
 }
 .RuleDescription{
    border:ridge 3px black;
 }
div{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}